<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.program.Dao.ScoreMapper">
  <resultMap id="BaseResultMap" type="com.zh.program.Entrty.Score">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="level" jdbcType="TINYINT" property="level" />
    <result column="avail_balance" jdbcType="DECIMAL" property="availBalance" />
    <result column="frozen_balance" jdbcType="DECIMAL" property="frozenBalance" />
    <result column="add_balance" jdbcType="DECIMAL" property="addBalance" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, level, avail_balance, frozen_balance, add_balance, create_time, update_time
  </sql>
  <insert id="insert" parameterType="com.zh.program.Entrty.Score">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into score (user_id, level, avail_balance, 
      frozen_balance, add_balance, create_time, 
      update_time)
    values (#{userId,jdbcType=INTEGER}, #{level,jdbcType=TINYINT}, #{availBalance,jdbcType=DECIMAL}, 
      #{frozenBalance,jdbcType=DECIMAL}, #{addBalance,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zh.program.Entrty.Score">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into score
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="availBalance != null">
        avail_balance,
      </if>
      <if test="frozenBalance != null">
        frozen_balance,
      </if>
      <if test="addBalance != null">
        add_balance,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=TINYINT},
      </if>
      <if test="availBalance != null">
        #{availBalance,jdbcType=DECIMAL},
      </if>
      <if test="frozenBalance != null">
        #{frozenBalance,jdbcType=DECIMAL},
      </if>
      <if test="addBalance != null">
        #{addBalance,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zh.program.Entrty.Score">
    update score
    set user_id = #{userId,jdbcType=INTEGER},
      level = #{level,jdbcType=TINYINT},
      avail_balance = #{availBalance,jdbcType=DECIMAL},
      frozen_balance = #{frozenBalance,jdbcType=DECIMAL},
      add_balance = #{addBalance,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zh.program.Entrty.Score">
    update score
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=TINYINT},
      </if>
      <if test="availBalance != null">
        avail_balance = #{availBalance,jdbcType=DECIMAL},
      </if>
      <if test="frozenBalance != null">
        frozen_balance = #{frozenBalance,jdbcType=DECIMAL},
      </if>
      <if test="addBalance != null">
        add_balance = #{addBalance,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from score
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from score
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from score
    where 1=1 
    <if test="userId != null">
       and  user_id = #{userId,jdbcType=INTEGER}
    </if>
    <if test="level != null">
       and  level = #{level,jdbcType=TINYINT}
    </if>
    <if test="availBalance != null">
       and  avail_balance = #{availBalance,jdbcType=DECIMAL}
    </if>
    <if test="frozenBalance != null">
       and  frozen_balance = #{frozenBalance,jdbcType=DECIMAL}
    </if>
    <if test="addBalance != null">
       and  add_balance = #{addBalance,jdbcType=DECIMAL}
    </if>
    <if test="createTime != null">
       and  create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
       and  update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
     order by id desc 
  </select>
  <select id="selectPaging" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from score
    where 1=1 
    <if test="userId != null">
       and  user_id = #{userId,jdbcType=INTEGER}
    </if>
    <if test="level != null">
       and  level = #{level,jdbcType=TINYINT}
    </if>
    <if test="availBalance != null">
       and  avail_balance = #{availBalance,jdbcType=DECIMAL}
    </if>
    <if test="frozenBalance != null">
       and  frozen_balance = #{frozenBalance,jdbcType=DECIMAL}
    </if>
    <if test="addBalance != null">
       and  add_balance = #{addBalance,jdbcType=DECIMAL}
    </if>
    <if test="createTime != null">
       and  create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
       and  update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
     order by id desc limit #{firstResult,jdbcType=INTEGER},#{maxResult,jdbcType=INTEGER}
  </select>
  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) 
    from score 
    where 1=1 
    <if test="userId != null">
       and  user_id = #{userId,jdbcType=INTEGER}
    </if>
    <if test="level != null">
       and  level = #{level,jdbcType=TINYINT}
    </if>
    <if test="availBalance != null">
       and  avail_balance = #{availBalance,jdbcType=DECIMAL}
    </if>
    <if test="frozenBalance != null">
       and  frozen_balance = #{frozenBalance,jdbcType=DECIMAL}
    </if>
    <if test="addBalance != null">
       and  add_balance = #{addBalance,jdbcType=DECIMAL}
    </if>
    <if test="createTime != null">
       and  create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
       and  update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
  </select>
</mapper>