<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.program.Dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.zh.program.Entrty.UserInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="interest" jdbcType="TINYINT" property="interest" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="sex" jdbcType="BIT" property="sex" />
    <result column="head_img_url" jdbcType="VARCHAR" property="headImgUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, city, phone, email, interest, birthday, nick_name, sex, head_img_url, 
    create_time, update_time
  </sql>
  <insert id="insert" parameterType="com.zh.program.Entrty.UserInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_info (user_id, city, phone, 
      email, interest, birthday, 
      nick_name, sex, head_img_url, 
      create_time, update_time)
    values (#{userId,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, #{phone,jdbcType=CHAR}, 
      #{email,jdbcType=VARCHAR}, #{interest,jdbcType=TINYINT}, #{birthday,jdbcType=TIMESTAMP}, 
      #{nickName,jdbcType=VARCHAR}, #{sex,jdbcType=BIT}, #{headImgUrl,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zh.program.Entrty.UserInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="interest != null">
        interest,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="headImgUrl != null">
        head_img_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=CHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="interest != null">
        #{interest,jdbcType=TINYINT},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=BIT},
      </if>
      <if test="headImgUrl != null">
        #{headImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zh.program.Entrty.UserInfo">
    update user_info
    set user_id = #{userId,jdbcType=INTEGER},
      city = #{city,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=CHAR},
      email = #{email,jdbcType=VARCHAR},
      interest = #{interest,jdbcType=TINYINT},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      nick_name = #{nickName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=BIT},
      head_img_url = #{headImgUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zh.program.Entrty.UserInfo">
    update user_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="interest != null">
        interest = #{interest,jdbcType=TINYINT},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=BIT},
      </if>
      <if test="headImgUrl != null">
        head_img_url = #{headImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where 1=1 
    <if test="userId != null">
       and  user_id = #{userId,jdbcType=INTEGER}
    </if>
    <if test="city != null">
       and  city = #{city,jdbcType=VARCHAR}
    </if>
    <if test="phone != null">
       and  phone = #{phone,jdbcType=CHAR}
    </if>
    <if test="email != null">
       and  email = #{email,jdbcType=VARCHAR}
    </if>
    <if test="interest != null">
       and  interest = #{interest,jdbcType=TINYINT}
    </if>
    <if test="birthday != null">
       and  birthday = #{birthday,jdbcType=TIMESTAMP}
    </if>
    <if test="nickName != null">
       and  nick_name = #{nickName,jdbcType=VARCHAR}
    </if>
    <if test="sex != null">
       and  sex = #{sex,jdbcType=BIT}
    </if>
    <if test="headImgUrl != null">
       and  head_img_url = #{headImgUrl,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null">
       and  create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
       and  update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
     order by id desc 
  </select>
  <select id="selectPaging" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where 1=1 
    <if test="userId != null">
       and  user_id = #{userId,jdbcType=INTEGER}
    </if>
    <if test="city != null">
       and  city = #{city,jdbcType=VARCHAR}
    </if>
    <if test="phone != null">
       and  phone = #{phone,jdbcType=CHAR}
    </if>
    <if test="email != null">
       and  email = #{email,jdbcType=VARCHAR}
    </if>
    <if test="interest != null">
       and  interest = #{interest,jdbcType=TINYINT}
    </if>
    <if test="birthday != null">
       and  birthday = #{birthday,jdbcType=TIMESTAMP}
    </if>
    <if test="nickName != null">
       and  nick_name = #{nickName,jdbcType=VARCHAR}
    </if>
    <if test="sex != null">
       and  sex = #{sex,jdbcType=BIT}
    </if>
    <if test="headImgUrl != null">
       and  head_img_url = #{headImgUrl,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null">
       and  create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
       and  update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
     order by id desc limit #{firstResult,jdbcType=INTEGER},#{maxResult,jdbcType=INTEGER}
  </select>
  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) 
    from user_info 
    where 1=1 
    <if test="userId != null">
       and  user_id = #{userId,jdbcType=INTEGER}
    </if>
    <if test="city != null">
       and  city = #{city,jdbcType=VARCHAR}
    </if>
    <if test="phone != null">
       and  phone = #{phone,jdbcType=CHAR}
    </if>
    <if test="email != null">
       and  email = #{email,jdbcType=VARCHAR}
    </if>
    <if test="interest != null">
       and  interest = #{interest,jdbcType=TINYINT}
    </if>
    <if test="birthday != null">
       and  birthday = #{birthday,jdbcType=TIMESTAMP}
    </if>
    <if test="nickName != null">
       and  nick_name = #{nickName,jdbcType=VARCHAR}
    </if>
    <if test="sex != null">
       and  sex = #{sex,jdbcType=BIT}
    </if>
    <if test="headImgUrl != null">
       and  head_img_url = #{headImgUrl,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null">
       and  create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
       and  update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
  </select>
</mapper>